.DS_Store
*.mp4
*.jpg
*.mp3
test.docx
*.pcapng
*.csv
from pythonping import ping.py
ping_test.py
Toma 3/SOCKET/socket.py
Toma 3/FTP/ftp1.py
Toma 3/FTP/Jitter foto final.xlsx
Toma 3/FTP/Jitter foto editado.xlsx
